*{
    margin: 0px;
    padding: 0px;


.libre {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



}
.container{
    display: flex;
    font-size: 60px;
    margin-top: 80px;
    margin-left: 90px;
}



.image{
  
    width: 257px;
   
    float: right;
  margin-right: 211px;
  margin-top:-100px ;
    
}
.icons{
    display: flex;
    font-size: 25px;
    margin: 10px;
    line-height: 5px;
 
}
.icon1{
    /* border: 2px solid red; */
    padding: 60px;
}
.icon2{
    /* border: 2px solid red; */
    padding: 60px;
    padding-left: 80px;
 
}
.icon3{
    /* border: 2px solid red; */
    padding: 60px;
   
}
.icon4{
    /* border: 2px solid red; */
    padding: 60px;
}
.btntext{
    margin: 20px;
    color: rgb(103, 101, 101);
}
.bottom{
    background-color: orangered;
    height: 40px;
}
.text{
    font-size: 35px;
   
    margin: 20px;
    padding-top: 42px;
    padding-bottom: 65px;
    width: 600px;
    margin-left: 90px;
    color: rgb(103, 101, 101);
}
#git{
    font-size: 65px;
    margin-top: 65px;
    margin-left: 150px;
}